/* Por Francis Castela, para o A.E.C.A */
/* Inspirado no design da MediaWiki */

/* ===================== DEFINIÇÃO DE FONTES ===================== */
@font-face {
    font-family: "Bebas";
    src: url("/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito.ttf");
}

@font-face {
    font-family: "Source";
    src: url("/fonts/SourceCodePro.ttf");
}

/* ===================== RESET E CONFIGURAÇÕES GLOBAIS ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-pagina: #EEE;
    --fundo-main: #FFF;
    --header: #8C171B;
    --texto-header: #FFF;
    --texto-comum: #000000;
    --texto-subtitulo: #333;
    --botao-piscante: #E25054;
}

body {
    font-family: "Nunito";
    line-height: 1.5;
    font-weight: normal;
    font-size: 1rem;
    overflow-x: hidden;
    color: var(--texto-comum);
    background: var(--fundo-pagina);
    text-align: justify;
}

/* ===================== ELEMENTOS BÁSICOS ===================== */
p {
    margin-bottom: 1rem;
}

a {
    color: var(--header);
}

hr {
    border-bottom: 0;
    margin-bottom: 1rem;
}

h1,
h2 {
    font-family: "Bebas";
    color: var(--header);
    font-weight: normal;
    line-height: 1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h3 {
    font-weight: bold;
    color: var(--texto-subtitulo);
}

h4,
h4 a {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--header);
}

h1,
h2,
h3,
h4 {
    text-align: left;
}

/* ===================== LAYOUT PRINCIPAL ===================== */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    gap: 2rem;
}

.main-content {
    flex: 1;
    background-color: var(--fundo-main);
    padding: 1rem;
}


a:hover:not(:has(img:hover)) {
    background-color: var(--header);
    color: #ffffff;
    transition: all 0.3s ease;

}

img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.sidebar-galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.sidebar-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ===================== RODAPÉ ===================== */
footer {
    padding: 10px;
    font-size: 0.8rem;
    color: #fff;
    background: var(--header);
    text-align: center;
    margin-top: auto;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: var(--texto-comum);
}

/* ===================== COMPONENTES ESPECÍFICOS ===================== */
/* Modal de Imagem */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 5px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #bbb;
}

/* ===================== RESPONSIVIDADE ===================== */

@media (max-width: 768px) {

    .sidebar-galeria {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .sidebar-galeria img:first-child:nth-last-child(odd) {
        grid-column: 1 / -1; 
        max-width: 100%;
        object-position: center;
    }


    .container {
        flex-direction: column;
    }

}

@media (max-width: 480px) {

    .sidebar-galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar-galeria img:first-child:nth-last-child(odd) {
        grid-column: 1 / -1; 
        max-width: 100%;
        object-position: center;
    }
}