* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.5;
    font-family: "Nunito";
    font-weight: normal;
    background: #EEE;
    font-size: medium;
    text-align: justify;
    overflow-x: hidden;
}

body>section {
    padding: 30px 10px;
}

:root {
    --fundo-escuro: #BBB;
    --texto-titulo: #b90000;
    --texto-comum: #000000;
    --texto-subtitulo: #444;
    --hover-fundo: #444;
    --borda: 1px solid #444;
    --menu-background: #000000;
    --botao-piscante-1: #b90000;
    --botao-piscante-2: #800000;
}

/* BASE */

p {
    text-indent: 30px;
    color: var(--texto-comum);
    margin-bottom: 10px;
    font-size: small;
}

ul, li {
    color: var(--texto-comum);
    margin-bottom: 10px;
}

h1 {

    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: large;
    color: var(--texto-subtitulo);
    margin: 0 0 20px 0;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: larger;
    color: var(--texto-titulo);
    text-indent: 30px;
    margin: 20px 0 10px;
}

a {
    color: var(--texto-titulo);
}

article {
    border-bottom: var(--borda);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

img,
video {
    border-radius: 10px;
}

@keyframes backgroundBlink {
    0%, 100% { background: var(--botao-piscante-1); }
    50% { background: var(--botao-piscante-2); }
}

.google-docs-link {
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    background-color: var(--fundo-escuro);
    color: #EEE;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    animation: backgroundBlink 2s infinite; 
}

.google-docs-link:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
}

.google-docs-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('https://www.gstatic.com/images/branding/product/2x/docs_48dp.png');
    background-size: cover;
}

#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#title {
    text-align: center;
    text-indent: 0px;
    font-size: 30px;
    margin-top: 20px;
}

#h1-2 {
    color: var(--texto-titulo);
    text-align: left;
    font-size: large;
    font-weight: bold;
    text-indent: 0;
    margin-top: 15px;
}

#h2-2 {
    text-align: left;
    text-indent: 0;
    font-weight: normal;
    font-size: small;
    margin: 0;
    color: var(--texto-comum);
}

table {
    color: var(--texto-comum);
    border-collapse: collapse;
    margin: 0 auto;
    width: 95%;
}

th, td {
    padding: 8px;
    vertical-align: top;
    width: 40%;
    border-radius: 5px;
}

th {
    text-align: right;
    color: var(--texto-titulo);
}

.cabecalho-tabela {
    padding-bottom: 0;
    text-align: center;
    background: var(--texto-titulo);
    color: #EEE;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 0.9;
}

td {
    text-align: left;
}

main {
    float: right;
    width: 70%;
}

/* LATERAL */

aside {
    float: left;
    width: 25%;
    text-decoration: none;
}

aside>div {
    padding: 4px;
    margin: 10px;
    background: var(--fundo-escuro);
    color: var(--texto-comum);
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

aside>div a {
    color: var(--texto-comum);
    font-size: small;
}

aside img,
article img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

aside>div:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* ZOOM EM IMAGEM */

#zoomImage1,
#zoomImage2,
#zoomImage3,
#zoomImage4,
#zoomImage5,
#zoomImage6,
#zoomImage7,
#zoomImage8,
#zoomImage9,
#zoomImage10 {
    cursor: pointer;
    transition: transform 0.5s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cb;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* RODAPÉ */

footer {
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    color: var(--texto-comum);
    text-decoration: none;
    background: var(--fundo-escuro);
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--texto-comum);
}

/* AJUSTES RESPONSIVOS */

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        float: none;
        width: 100%;
    }

}